<%= form_for(@answer) do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :question_id, value: @question.id %>
    <div class="form-group">
        <%= form.label :text %><br>
        <%= form.text_area :text %>
    </div>

  <p>
    <%= form.submit %>
  </p>
 
<% end %>