<div class='container'>
<h3>Answer the Question</h3>

<%= form_for(@answer) do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :question_id, value: @question.id %>
    <div class="form-group">
        <%= form.label :text %><br>
        <%= form.text_area :text %>
    </div>
    <button class='btn text-dark', style='background-color: rgb(245, 203, 92);' type="submit">Submit Answer</button>
 
<% end %>
</div>
