<div class='container'>
<p>
  <h3><%= @question.title %></h3>
</p>

<p>
  <strong>Body:</strong>
  <%= markdown(@question.body) %>
</p>


<% if current_user && current_user.admin %>
  <%= link_to 'Edit', edit_question_path(@question), class:'btn btn-outline-dark btn-sm' %> |
    <%= link_to 'Delete', @question, method: :delete, class:'btn btn-outline-dark btn-sm' %>
<% end %>
<% if current_user && current_user.id == @question.user_id %>
  <%= link_to 'Delete', @question, method: :delete, class:'btn btn-outline-dark btn-sm' %>
<% end %><br>
                    
 <h3 class='mt-5'>Answers:</h3>
<%= link_to 'Add an answer', new_answer_path(question_id: @question.id), class:'btn text-dark', style:'background-color: rgb(245, 203, 92);' %>

<% @question.answers.each do |answer|%>
    <div class='m-2 p-3', style='background-color: rgb(207, 219, 213);'>
      <%=%>
        <strong><%= answer.user %></strong>
        <p><%= answer.text%></p>

        <% if !answer.valid_answer && current_user && current_user.id == @question.user_id %>
          <%= form_for(answer) do |a| %>
            <%= a.check_box(:valid_answer, value: true) %>
            <%= a.label(:valid_answer, "Mark Answer as Valid") %>
            <button class='btn btn-dark btn-sm' type="submit">Save</button>
          <% end %>
        <% end %>


        <% if current_user && current_user.id == answer.user_id %>
          <%= link_to 'Edit', edit_answer_path(question_id: @question.id), class:'btn btn-outline-dark btn-sm'%> |
          <%= link_to 'Delete', answer_path(answer),
                method: :delete, class:'btn btn-outline-dark btn-sm' %>
        <% end %>
</p>
    </div>
<% end %>
</div>


