<div class='container'>
<h2 class='my-3' style='font-size: 1.8rem;'>Log in to your Account:</h2>

<%= form_tag login_url do %>
  <div class="form-group">
    <%= label_tag :username %>
    <%= text_field_tag :username %>
  </div>

  <div class="form-group">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <button class='btn text-dark', style='background-color: rgb(245, 203, 92);' type="submit">Log in</button>
<% end %>
</div>